head
  meta(charset='utf-8')
  title!= title
  meta(
    name='viewport'
    content='width=device-width, initial-scale=1.0'
  )
  link(
    rel='stylesheet'
    href='/static/bootstrap.min.css'
  )
  link(
    rel='stylesheet'
    href='/static/sticky-footer.css'
  )
  link(
    rel='stylesheet'
    href='/static/custom.css'
  )
